*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    overflow:hidden;

    font-family:'Orbitron', sans-serif;
    color:white;

    /* Animation RGB */
    background:
    linear-gradient(
        135deg,
        #ff0000,
        #00ff00,
        #0000ff
    );

    background-size:400% 400%;
    animation:rgb 12s ease infinite;

    position:relative;
}

/* Effet pixelisé */
body::before{
    content:"";

    position:absolute;
    inset:0;

    background-image:
        linear-gradient(
            rgba(255,255,255,0.03) 1px,
            transparent 1px
        ),
        linear-gradient(
            90deg,
            rgba(255,255,255,0.03) 1px,
            transparent 1px
        );

    background-size:25px 25px;

    image-rendering:pixelated;

    pointer-events:none;
}

@keyframes rgb{
    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }
}

/* Titre principal */
.titre{
    text-align:center;

    font-size:4rem;

    margin-top:40px;

    text-shadow:
    0 0 15px rgba(255,255,255,.5);
}

/* Texte à gauche */
.contenu{
    margin-left:80px;
    margin-top:120px;

    max-width:700px;
}

.contenu h2{
    font-size:2rem;
    margin-bottom:20px;
}

.contenu p{
    font-size:1.2rem;
    line-height:1.8;
    margin-bottom:30px;
}

.contenu a{
    text-decoration:none;

    color:white;

    border:2px solid white;

    padding:12px 25px;

    border-radius:12px;

    transition:.3s;
}

.contenu a:hover{
    background:white;
    color:black;
}
